# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame

In [2]:
weather = 'weather_data.csv'
weather_data = pd.read_csv(weather, encoding="latin1")
weather_data.head()

,city,lat,lng,temp,hum,cloud,wind,country,date
0,necochea,-38.5473,-58.7368,59.04,56,2,16.69,AR,Thu Aug 19 14:00:10 2021
1,mataura,-46.1927,168.8643,41.49,98,100,4.54,NZ,Thu Aug 19 14:00:55 2021
2,puerto ayora,-0.7393,-90.3518,74.55,81,95,8.99,EC,Thu Aug 19 14:02:27 2021
3,tuatapere,-46.1333,167.6833,41.83,85,87,8.70,NZ,Thu Aug 19 14:03:40 2021
4,cape town,-33.9258,18.4232,55.11,81,20,4.00,ZA,Thu Aug 19 13:58:12 2021

### Humidity Heatmap

In [3]:
gmaps.configure(api_key=g_key)
locations=weather_data[['lat','lng']].astype(float)
weight=weather_data['hum'].astype(float)

In [7]:
fig=gmaps.figure(center=[0,-10],zoom_level=2)

heatlayer = gmaps.heatmap_layer(locations,weights=weight, dissipating=False,max_intensity=100, point_radius=3)

fig.add_layer(heatlayer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria

In [8]:
weather_data.head()

,city,lat,lng,temp,hum,cloud,wind,country,date
0,necochea,-38.5473,-58.7368,59.04,56,2,16.69,AR,Thu Aug 19 14:00:10 2021
1,mataura,-46.1927,168.8643,41.49,98,100,4.54,NZ,Thu Aug 19 14:00:55 2021
2,puerto ayora,-0.7393,-90.3518,74.55,81,95,8.99,EC,Thu Aug 19 14:02:27 2021
3,tuatapere,-46.1333,167.6833,41.83,85,87,8.70,NZ,Thu Aug 19 14:03:40 2021
4,cape town,-33.9258,18.4232,55.11,81,20,4.00,ZA,Thu Aug 19 13:58:12 2021

In [9]:
hotel_df=weather_data[(weather_data.temp>70)&(weather_data.temp<77)&(weather_data.wind<10)&(weather_data.cloud==0)].copy()

In [10]:
hotel_df.head()

,city,lat,lng,temp,hum,cloud,wind,country,date
89,nhulunbuy,-12.2333,136.7667,70.41,94,0,3.44,AU,Thu Aug 19 14:06:58 2021
127,karpathos,35.5070,27.2132,76.96,94,0,5.75,GR,Thu Aug 19 14:07:12 2021
194,tsumeb,-19.2333,17.7167,70.83,12,0,8.25,NaN,Thu Aug 19 14:07:35 2021
341,alyangula,-13.8483,136.4192,71.06,84,0,7.47,AU,Thu Aug 19 14:03:24 2021
432,karratha,-20.7377,116.8463,71.85,37,0,8.52,AU,Thu Aug 19 14:09:02 2021

### Hotel Map

In [11]:
hotel_df['Hotel Name']=''

In [12]:
hotel_df

,city,lat,lng,temp,hum,cloud,wind,country,date,Hotel Name
89,nhulunbuy,-12.2333,136.7667,70.41,94,0,3.44,AU,Thu Aug 19 14:06:58 2021,
127,karpathos,35.5070,27.2132,76.96,94,0,5.75,GR,Thu Aug 19 14:07:12 2021,
194,tsumeb,-19.2333,17.7167,70.83,12,0,8.25,NaN,Thu Aug 19 14:07:35 2021,
341,alyangula,-13.8483,136.4192,71.06,84,0,7.47,AU,Thu Aug 19 14:03:24 2021,
432,karratha,-20.7377,116.8463,71.85,37,0,8.52,AU,Thu Aug 19 14:09:02 2021,
463,amasya,40.6667,35.8333,73.08,82,0,5.23,TR,Thu Aug 19 14:09:14 2021,
472,koungou,-12.7336,45.2042,74.91,88,0,3.44,YT,Thu Aug 19 14:09:17 2021,
488,kamra,33.7473,73.5111,72.93,70,0,9.64,PK,Thu Aug 19 14:09:22 2021,

In [13]:
params={
    'radius':5000,
    'types':'hotels',
    'key':g_key,
}


url='https://maps.googleapis.com/maps/api/place/nearbysearch/json'

for i, row in hotel_df.iterrows():
    params['location']=f'{row.lat},{row.lng}'
    res = requests.get(url,params).json()
    try:
         hotel_df.loc[i,'Hotel Name']=res['results'][0]['name']
    except():
        print('Missing field result...skipping')

In [14]:
hotel_df

,city,lat,lng,temp,hum,cloud,wind,country,date,Hotel Name
89,nhulunbuy,-12.2333,136.7667,70.41,94,0,3.44,AU,Thu Aug 19 14:06:58 2021,Nhulunbuy
127,karpathos,35.5070,27.2132,76.96,94,0,5.75,GR,Thu Aug 19 14:07:12 2021,Karpathos
194,tsumeb,-19.2333,17.7167,70.83,12,0,8.25,NaN,Thu Aug 19 14:07:35 2021,Tsumeb
341,alyangula,-13.8483,136.4192,71.06,84,0,7.47,AU,Thu Aug 19 14:03:24 2021,Alyangula
432,karratha,-20.7377,116.8463,71.85,37,0,8.52,AU,Thu Aug 19 14:09:02 2021,Karratha
463,amasya,40.6667,35.8333,73.08,82,0,5.23,TR,Thu Aug 19 14:09:14 2021,Amasya
472,koungou,-12.7336,45.2042,74.91,88,0,3.44,YT,Thu Aug 19 14:09:17 2021,Koungou
488,kamra,33.7473,73.5111,72.93,70,0,9.64,PK,Thu Aug 19 14:09:22 2021,Cheraas

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lat", "lng"]]

In [16]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))